<!-- in your about.html file -->
<!DOCTYPE html>
<html>
<head>
    <title>About this website</title>
</head>
<body>
    <h1>About this website</h1>
    <p>This website is a tool for converting image files from various formats to other formats. Users can upload their image and convert it to desired format.</p>
    <p>We currently support the following formats:</p>
    <ul>
        <li>JPG to PNG</li>
        <li>PNG to JPG</li>
        <li>WEBP to PNG</li>
        <li>BMP to PNG</li>
        <li>PNG to PDF</li>
    </ul>
</body>
</html>